# Generated settings:
shareComment="Docker files"
shareInclude=""
shareExclude=""
shareUseCache="only"
shareCachePool="ssd"
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="0"
shareExport="e"
shareFruit="no"
shareCaseSensitive="forced"
shareSecurity="secure"
shareReadList=""
shareWriteList="d0ntblink"
shareVolsizelimit=""
shareExportNFS="-"
shareExportNFSFsid="103"
shareSecurityNFS="private"
shareHostListNFS=""
