# Generated settings:
shareComment="Slow cloud storage, No cache"
shareInclude=""
shareExclude=""
shareUseCache="no"
shareCachePool="cache"
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel="0"
shareFloor="40000000"
shareExport="e"
shareFruit="no"
shareCaseSensitive="forced"
shareSecurity="secure"
shareReadList=""
shareWriteList="d0ntblink"
shareVolsizelimit=""
shareExportNFS="e"
shareExportNFSFsid="106"
shareSecurityNFS="public"
shareHostListNFS=""
