# Generated settings:
shareComment="Fast cloud storage, With cache"
shareInclude=""
shareExclude=""
shareUseCache="no"
shareCachePool=""
shareCachePool2=""
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="390511081"
shareExport="e"
shareCaseSensitive="forced"
shareSecurity="secure"
shareReadList=""
shareWriteList="d0ntblink"
shareVolsizelimit=""
shareExportNFS="e"
shareExportNFSFsid="105"
shareSecurityNFS="public"
shareHostListNFS=""
