# Generated settings:
shareComment="System files"
shareInclude=""
shareExclude=""
shareUseCache="only"
shareCachePool="ssd"
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="0"
shareExport="e"
shareFruit="no"
shareCaseSensitive="forced"
shareSecurity="secure"
shareReadList=""
shareWriteList="d0ntblink"
shareVolsizelimit=""
shareExportNFS="e"
shareExportNFSFsid="104"
shareSecurityNFS="public"
shareHostListNFS=""
