# Generated settings:
startArray="yes"
spindownDelay="0"
spinupGroups="no"
shutdownTimeout="90"
luksKeyfile="/root/keyfile"
poll_attributes="1800"
defaultFsType="xfs"
queueDepth="auto"
nr_requests="Auto"
md_scheduler="auto"
md_num_stripes="1280"
md_queue_limit="80"
md_sync_limit="5"
md_write_method="auto"
diskIdSlot.0="-"
diskSpindownDelay.0="-1"
diskSpinupGroup.0=""
diskIdSlot.1="-"
diskSpindownDelay.1="-1"
diskSpinupGroup.1=""
diskFsType.1="xfs"
diskFsProfile.1=""
diskFsWidth.1="1"
diskFsGroups.1="1"
diskAutotrim.1="off"
diskCompression.1="off"
diskComment.1=""
diskWarning.1=""
diskCritical.1=""
diskExport.1="e"
diskCaseSensitive.1="auto"
diskSecurity.1="public"
diskReadList.1=""
diskWriteList.1=""
diskVolsizelimit.1=""
diskExportNFS.1="-"
diskExportNFSFsid.1="0"
diskSecurityNFS.1="public"
diskHostListNFS.1=""
diskIdSlot.2="-"
diskSpindownDelay.2="-1"
diskSpinupGroup.2=""
diskFsType.2="xfs"
diskFsProfile.2=""
diskFsWidth.2="1"
diskFsGroups.2="1"
diskAutotrim.2="off"
diskCompression.2="off"
diskComment.2=""
diskWarning.2=""
diskCritical.2=""
diskExport.2="e"
diskCaseSensitive.2="auto"
diskSecurity.2="public"
diskReadList.2=""
diskWriteList.2=""
diskVolsizelimit.2=""
diskExportNFS.2="-"
diskExportNFSFsid.2="0"
diskSecurityNFS.2="public"
diskHostListNFS.2=""
diskIdSlot.3="-"
diskSpindownDelay.3="-1"
diskSpinupGroup.3=""
diskFsType.3="xfs"
diskFsProfile.3=""
diskFsWidth.3="1"
diskFsGroups.3="1"
diskAutotrim.3="off"
diskCompression.3="off"
diskComment.3=""
diskWarning.3=""
diskCritical.3=""
diskExport.3="e"
diskCaseSensitive.3="auto"
diskSecurity.3="public"
diskReadList.3=""
diskWriteList.3=""
diskVolsizelimit.3=""
diskExportNFS.3="-"
diskExportNFSFsid.3="0"
diskSecurityNFS.3="public"
diskHostListNFS.3=""
diskIdSlot.4="-"
diskSpindownDelay.4="-1"
diskSpinupGroup.4=""
diskFsType.4="xfs"
diskFsProfile.4=""
diskFsWidth.4="1"
diskFsGroups.4="1"
diskAutotrim.4="off"
diskCompression.4="off"
diskComment.4=""
diskWarning.4=""
diskCritical.4=""
diskExport.4="e"
diskCaseSensitive.4="auto"
diskSecurity.4="public"
diskReadList.4=""
diskWriteList.4=""
diskVolsizelimit.4=""
diskExportNFS.4="-"
diskExportNFSFsid.4="0"
diskSecurityNFS.4="public"
diskHostListNFS.4=""
diskIdSlot.5="-"
diskSpindownDelay.5="-1"
diskSpinupGroup.5=""
diskFsType.5="xfs"
diskFsProfile.5=""
diskFsWidth.5="1"
diskFsGroups.5="1"
diskAutotrim.5="off"
diskCompression.5="off"
diskComment.5=""
diskWarning.5=""
diskCritical.5=""
diskExport.5="-"
diskCaseSensitive.5="auto"
diskSecurity.5="public"
diskReadList.5=""
diskWriteList.5=""
diskVolsizelimit.5=""
diskExportNFS.5="-"
diskExportNFSFsid.5="0"
diskSecurityNFS.5="public"
diskHostListNFS.5=""
diskIdSlot.6="-"
diskSpindownDelay.6="-1"
diskSpinupGroup.6=""
diskFsType.6="xfs"
diskFsProfile.6=""
diskFsWidth.6="1"
diskFsGroups.6="1"
diskAutotrim.6="off"
diskCompression.6="off"
diskComment.6=""
diskWarning.6=""
diskCritical.6=""
diskExport.6="-"
diskCaseSensitive.6="auto"
diskSecurity.6="public"
diskReadList.6=""
diskWriteList.6=""
diskVolsizelimit.6=""
diskExportNFS.6="-"
diskExportNFSFsid.6="0"
diskSecurityNFS.6="public"
diskHostListNFS.6=""
diskIdSlot.7="-"
diskSpindownDelay.7="-1"
diskSpinupGroup.7=""
diskFsType.7="xfs"
diskFsProfile.7=""
diskFsWidth.7="1"
diskFsGroups.7="1"
diskAutotrim.7="off"
diskCompression.7="off"
diskComment.7=""
diskWarning.7=""
diskCritical.7=""
diskExport.7="-"
diskCaseSensitive.7="auto"
diskSecurity.7="public"
diskReadList.7=""
diskWriteList.7=""
diskVolsizelimit.7=""
diskExportNFS.7="-"
diskExportNFSFsid.7="0"
diskSecurityNFS.7="public"
diskHostListNFS.7=""
diskIdSlot.8="-"
diskSpindownDelay.8="-1"
diskSpinupGroup.8=""
diskFsType.8="xfs"
diskFsProfile.8=""
diskFsWidth.8="1"
diskFsGroups.8="1"
diskAutotrim.8="off"
diskCompression.8="off"
diskComment.8=""
diskWarning.8=""
diskCritical.8=""
diskExport.8="-"
diskCaseSensitive.8="auto"
diskSecurity.8="public"
diskReadList.8=""
diskWriteList.8=""
diskVolsizelimit.8=""
diskExportNFS.8="-"
diskExportNFSFsid.8="0"
diskSecurityNFS.8="public"
diskHostListNFS.8=""
diskIdSlot.9="-"
diskSpindownDelay.9="-1"
diskSpinupGroup.9=""
diskFsType.9="xfs"
diskFsProfile.9=""
diskFsWidth.9="1"
diskFsGroups.9="1"
diskAutotrim.9="off"
diskCompression.9="off"
diskComment.9=""
diskWarning.9=""
diskCritical.9=""
diskExport.9="-"
diskCaseSensitive.9="auto"
diskSecurity.9="public"
diskReadList.9=""
diskWriteList.9=""
diskVolsizelimit.9=""
diskExportNFS.9="-"
diskExportNFSFsid.9="0"
diskSecurityNFS.9="public"
diskHostListNFS.9=""
diskIdSlot.10="-"
diskSpindownDelay.10="-1"
diskSpinupGroup.10=""
diskFsType.10="xfs"
diskFsProfile.10=""
diskFsWidth.10="1"
diskFsGroups.10="1"
diskAutotrim.10="off"
diskCompression.10="off"
diskComment.10=""
diskWarning.10=""
diskCritical.10=""
diskExport.10="-"
diskCaseSensitive.10="auto"
diskSecurity.10="public"
diskReadList.10=""
diskWriteList.10=""
diskVolsizelimit.10=""
diskExportNFS.10="-"
diskExportNFSFsid.10="0"
diskSecurityNFS.10="public"
diskHostListNFS.10=""
diskIdSlot.29="-"
diskSpindownDelay.29="-1"
diskSpinupGroup.29=""
