# Generated settings:
IFNAME[0]="eth0"
DHCP_KEEPRESOLV="yes"
DNS_SERVER1="10.0.10.3"
DNS_SERVER2="10.0.10.1"
DNS_SERVER3="1.1.1.1"
DHCP6_KEEPRESOLV="no"
DESCRIPTION[0]="eth0"
PROTOCOL[0]="ipv4+ipv6"
USE_DHCP[0]="yes"
USE_DHCP6[0]="yes"
PRIVACY6[0]="2"
SYSNICS="1"
