# Generated settings:
IFNAME[0]="eth0"
DHCP_KEEPRESOLV="no"
DHCP6_KEEPRESOLV="no"
DESCRIPTION[0]="eth0"
PROTOCOL[0]="ipv4+ipv6"
USE_DHCP[0]="yes"
USE_DHCP6[0]="yes"
PRIVACY6[0]="2"
SYSNICS="1"
