[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
timeout = 10
private_key_file = ~/.ssh/id_ed25519_owl_ansible
